.card-container {
  display: flex;
  justify-content: space-between;

  width: 70vw;
  max-width: 900px;
  min-width: 700px;
  height: 65vh;

  background-color: #35424a;
  border: 3px solid #fff;
  border-radius: 20px;

  padding: 20px;
}

.card-content {
  position: relative;
  padding: 0 10px 0 0;
}
.card-content article h3 {
  margin-bottom: 10px;
}

.card-header {
  padding: 0 0 30px;
  text-align: center;
  font-size: 35px;
}

.card-content .button-container {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.img-contianer {
  padding-left: 10px;
  align-items: center;
}

.img-contianer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
