.App {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}
