.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  color: white;
}

.card-header {
  text-align: center;
  font-size: 25px;
}
